<div class = "col-xs-12 text-center">
  <div class = "col-xs-4" id="video-form-buton">
    <i class="fa fa-video-camera fa-5x" aria-hidden="true"> Video</i>
  </div>
  <div class = "col-xs-4">
    <i class="fa fa-camera-retro fa-5x" aria-hidden="true"> Photo</i>
  </div>
  <div class = "col-xs-4">
    <i class="fa fa-pencil-square fa-5x" aria-hidden="true"> Quote</i>
  </div>
</div>

<div id="video-form" class="form-partials">
  <%= render :partial => "articles/forms/video_form"%>
</div>
