<div class="col-xs-10 col-xs-offset-1 height-100">
  <div class="newusertext text-center" data-splash="true">
    <div class="wrapper">
      <div class="clip-text clip-text-one font font-light-shadow text-center" style="font-size:9vh;">Ok To Be Sad
        <br>
        <h1 style="font-size:4.0vh;" class="text-center splash-text font">A Community When You Need It The Most</h1>
        <div class="show-mobile animated splash-page-bounce">
          <i class="fa fa-angle-double-down fa-2x show-mobile" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="owl-carousel owl-theme text-center" style="height:120%;">
      <div style="height 80vh;">
        <figure>
          <img src="https://i.imgur.com/jN4sURQ.png" alt="share mockup">
          <figcaption><h3>All the things that make you happy. Now.<h3></figcaption>
        </figure>
        <i class="fa fa-angle-double-right fa-4x animated splash-swipe-right-icon" aria-hidden="true"></i>
      </div>
      <div>
        <figure>
          <img src="https://i.imgur.com/kduTLcz.png" alt="upload mockup">
          <figcaption><h3>Upload your favorite videos, songs, pictures, and quotes!<h3></figcaption>
        </figure>
      </div>
      <div>
        <figure>
          <img src="https://i.imgur.com/9aPdOPd.png" alt="chat mockup">
          <figcaption><h3>Talk to others! You're not the only one with the sads!<h3></figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
  <div class="text-center">
    <%= link_to new_user_path, class: "btn btn-success splash-button-container" do %>
      <i class="fa fa-user-plus fa-2x splash-button" aria-hidden="true"><br><span class="font">Sign Up</span></i>
    <% end %>

    <%= link_to new_session_path, class: "btn btn-info splash-button-container" do %>
      <i class="fa fa-sign-in fa-2x splash-button" aria-hidden="true"><br><span class="font">Log In</span></i>
    <% end %>

    <%= link_to trial_path, class: "btn btn-warning splash-button-container" do %>
      <i class="fa fa-forward fa-2x splash-button" aria-hidden="true"><br><span class="font">Demo</span></i>
    <% end %>
  </div>
</div>
<br>
