<%= render :partial => "layouts/flash_messages" %>
<h2><strong>Edit Your Profile</strong></h2>
<br><br>

<div class="row">
  <%= render "user_form" %>
</div>

<div class="text-center">
  <% if current_user != nil && current_user.id==@user.id %>
    <%= render "deactivate_account" %>
  <% end %>
</div>
<br><br>
