/*
 * app/assets/stylesheets/application.css
 */

/*
 *= require animate
 *= require bootstrap-3.3.6.min
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */


/*#00BFFF*/


/*this code block handles all of the splash screen logo CSS*/
.wrapper {
    text-align: center;
}

.title {
    font-size: 2em;
    position: relative;
    margin: 0 auto 1em;
    padding: 1em 1em .25em 1em;
    text-align: center;
    text-transform: uppercase;
}

/* clip text element */
.clip-text {
    font-size: 6em;
    font-weight: bold;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin: .25em;
    padding: .5em .75em;
    text-align: center;
    color: #00BFFF;
    -webkit-background-clip: text;
}

.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}

/* background */
.clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
}

/* text border background */
.clip-text:after {
    position: absolute;
    z-index: -1;
    top: .4em;
    right: .4em;
    bottom: .4em;
    left: .4em;
    background-color: #FFF;
}

.splash-text {
  color: #00BFFF;
}

/* shows the letters when background isn't present */
.clip-text--no-textzone:before {
    background-position: -.65em 0;
}

.clip-text--no-textzone:after {
    content: none;
}

.clip-text--cover,
.clip-text--cover:before {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
}

.clip-text-one {
    background-image: url(https://i.imgur.com/rcVVgcL.gif);
}


/*general application layout css*/
html, body{
 height: 100%;
 padding-top: 60px;
}

.footer {
 font-size: 1.5em;
}

p {
  text-align: center;
}

.buttonrow {
  text-align: center;
}

.img-responsive {
  margin: 0 auto;
}


/*the following code block involves bootstrap overrides marked with important tags*/
.navbar-brand>img {
  margin-top: -10px !important;
  padding: 0;
  height: 40px;
  width: 140px;
}

.navbar a {
  color: #FFFFFF !important;
}

.navbar {
  background-color: #00BFFF !important;
}

.font-color, h1, h2, h3, h4, h5, h6 {
  color: #00BFFF !important;
  font-weight: bold !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3)
}

main {
 margin-top: -4%;
}


/*form related animations and classes*/
.click-red {
  color: #ffb3ba;
}

.quick-transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s eas
}

.click-yellow {
  color: #ffffba;
}

.click-orange {
  color: #ffdfba;
}

.click-green {
  color: #baffc9;
}

.create-button, .edit-button {
  text-align: center;
}

.cancel-button {
  text-align: center;
  margin-top: 3%;
}


/*font related styling*/
h1, h2, h3, h4, h5, h6, i, a, .btn, .font {
  font-family: 'Roboto Condensed', sans-serif;
}

.font-light-shadow {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3)
}


/*helper class for hiding mobile*/
.hidden-xs {
  display: none !important;
  visibility: hidden !important;
}


/*cog is not displayed on desktop*/
.dropdownprofile, .cog{
  display: none;
}


.bottom-nav-div, .show-mobile {
  display: none;
  visibility: none;
}



.vertically-align-force {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.profile-photo {
  width: 20vw;
  height: auto;
  margin: 0 auto;
}


/*small padding changes*/
.index-container {
  padding: 30px 150px;
}

.flash-message-container {
  padding-top: 30px;
}


/*mobile user show page cog related CSS*/
.dropdown-menu>li>a {
  color:black !important;
}

.dropdown ul.dropdown-menu:before {
  content: "";
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  right: 16px;
  z-index: 1000;
}

.dropdown ul.dropdown-menu:after {
  content: "";
  border-bottom: 12px solid #ccc;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  position: absolute;
  top: -12px;
  right: 14px;
  z-index: 1000;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdownprofile {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 1.6em;
}

.newmain {
  height: 25vh;
}

.splash-title {
  font-size: 4em;
  padding:0;
  margin-bottom:0;
  margin-top: .4em;
}

.splash-title2 {
  font-size: 2em;
}

.pagination-user-mobile {
  display: none;
}

.display-block-cog {
  display:block;
  background-color: #f1f1f1;
}

.owl-image {
  max-height:60vh;
  width:auto;
}

.form-partials {
  display:none;
}

.quote-title {
  overflow-wrap: break-word;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.absolute-middle {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.swipe-right-icon {
  display: none;
  height:8vh;
  width:10vh;
  z-index:100;
}

.swipe-icon {
  margin-left: 25%;
  -webkit-animation: bounceInLeft 2s;
  animation: bounceInLeft 2s;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}


.media-object {
  max-height: 10vh;
  width: auto;
  overflow:auto;
}

.message-text {
  text-align: left;
}

.fa {
  text-shadow: 1px 3px 2px rgba(0,0,0,0.2);
}

.splash-page-bounce {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}

.bottom-nav-div {
  -webkit-box-shadow: 0 -3px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    0 -3px 2px rgba(0, 0, 0, 0.2);
  box-shadow:         0 -3px 2px rgba(0, 0, 0, 0.2);
}

.delete-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}

h2 {
  text-align: center;
}


/*media queries for mobile*/
@media only screen and (max-width: 770px) {

  /*bootstrap overides*/
  .bottom-nav-div {
    height: 115px;
    width: 100%;
    overflow:hidden !important;
    background-color: #00BFFF !important;
  }

  .index-container {
    padding: 0 !important;
  }

  .brand-image {
    overflow:hidden !important;
    height:auto !important;
    margin-bottom: -5vh;
  }

  .flash-message-container {
    padding: 5px !important;
  }

  .quote-title {
    font-size: 1.8em !important;
  }

  .bottom-nav-div, .show-mobile, .cog, .newusertext {
    display: block !important;
    visibility: visible !important;
  }

  .navbar {
    background-color: white !important;
    border-top: 1px solid #00BFFF;
  }

  #wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    padding: 0 0 60px;
  }

  .nav-div {
      display:none;
  }

  .newuserimage {
    display: none;
  }

  /*general body css*/
  html {
    margin-top: -100px
  }

  main {
    margin-top: 0%;
  }

  html,
  body {
    height: 100%;
  }

  main {
    margin-bottom: +125px;
  }

  .glyphy-cog, .fa-navbar {
    color: #00BFFF;
  }

  #wrap > .container {
    padding: 10px 15px 0;
  }

  footer {
    margin-bottom: 10vh;
  }

  .navbar-header {
   	float:none;
      width:100%;
      padding:10px;
  }

  .navbar-brand {
      font-size:20pt;
      float:none;
  }

  #bottomNav a {
      font-size:15pt;
      color:#ddd;
      text-decoration:none;
  }

  #bottomNav a:hover {
      color:#fff;
  }

  .bottom-nav-div .fa {
    color: white;
  }

  .bottom-nav-spacer {
    height: 400px;
  }

  .owl-image {
    max-height:80vh;
    width:auto;
  }

  .navbar {
    background-color: #00BFFF !important;
  }
}
