// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body{
  height: 100%;
  padding-top: 60px;

}

.card-inverse {
  background-size: cover;
  color:white;
  height: 45vh;
  text-align: center
}

.img-container {
  max-width: 80vh;
  min-width: 60vh;
  max-height: 70vh;
}

@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.panel-image {
  position: relative;
}

.panel-image img.panel-image-preview {
  width: 100%;
	border-radius: 4px 4px 0px 0px;
}

.panel-image label {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.panel-heading ~ .panel-image img.panel-image-preview {
	border-radius: 0px;
}

.panel-body {
  overflow: hidden;
}

.panel-image ~ input[type=checkbox] {
  position:absolute;
  top:- 30px;
  z-index: -1;
}

.panel-image ~ input[type=checkbox] ~ .panel-body {
	height: 0px;
	padding: 0px;
}

.panel-image ~ input[type=checkbox]:checked ~ .panel-body {
  height: auto;
	padding: 15px;
}

.panel-image ~ .panel-footer a {
  padding: 0px 10px;
}

p {
  text-align: center;
}

.buttonrow {
  text-align: center;
}

.portfolio .thumbnail {
    position: relative;
}

.portfolio .thumbnail:hover {
    cursor: pointer;
}

.portfolio .caption {
  bottom: 0;
  position: absolute;
}

.portfolio .btn {
  opacity: 0.75;
}

.modal-dialog {
  width: 85%;
  height: 85%;
}

.modal-content {
  width: 100%;
  height: 100;
  margin: 0 auto;
}

.img-responsive {
  margin: 0 auto;
}
