<%= button_tag(:back, type: "button", class: "btn", name: "commit", value: "conceal", :style=>"background-color: transparent;", :onclick => "window.history.go(-1)") do %>
  <i class="fa fa-reply fa-5x" aria-hidden="true"></i>
<% end %>
<span style="margin-right:30px;"></span>
<%= button_tag(type: "submit", class: "btn", name: "commit", value: "conceal", :style=>"background-color: transparent;") do %>
  <i class="fa fa-floppy-o fa-5x" aria-hidden="true"></i>
<% end %>
